/* Student.css */
.table-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

h3 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #647da4;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

.student-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.create-student-button {
    background-color: #4e7dad;
    /* Couleur bleue */
    color: white;
    /* Couleur du texte */
    border: none;
    /* Pas de bordure */
    border-radius: 5px;
    /* Coins arrondis */
    padding: 10px 15px;
    /* Espacement */
    cursor: pointer;
    /* Curseur de la souris */
    font-size: 16px;
    /* Taille de la police */
    display: flex;
    /* Flexbox pour aligner l'icône et le texte */
    align-items: center;
    /* Centre verticalement l'icône et le texte */
    transition: background-color 0.3s;
    /* Transition pour l'effet de survol */

}

.create-student-button i {
    margin-right: 5px;
    /* Espace entre l'icône et le texte */
}

.create-student-button:hover {
    background-color: #3a7bb8;
    /* Couleur au survol */
    color: #ffcc00;
}

/* Student.css */

/* Styles pour le bouton d'annulation */
.cancel-student-button {
    background-color: #ffcc00;
    /* Couleur rouge */
    color: white;
    /* Couleur du texte */
    border: none;
    /* Pas de bordure */
    border-radius: 5px;
    /* Coins arrondis */
    padding: 10px 15px;
    /* Espacement */
    cursor: pointer;
    /* Curseur de la souris */
    font-size: 16px;
    /* Taille de la police */
    display: flex;
    /* Flexbox pour aligner l'icône et le texte */
    align-items: center;
    /* Centre verticalement l'icône et le texte */
    transition: background-color 0.3s;
    /* Transition pour l'effet de survol */
    margin-bottom: 20px;
}

.cancel-student-button i {
    margin-right: 5px;
    /* Espace entre l'icône et le texte */
}

.cancel-student-button:hover {
    background-color: #c82333;
    /* Couleur au survol */
}

.create-student-button,
.cancel-student-button {
    margin-top: 20px;
    /* Espace entre le tableau et le bouton */
}

.student-bottom {
    margin-bottom: 30px;
}

.create-student-student-button {
    background-color: #4e7dad;
    /* Couleur du bouton */
    color: white;
    /* Couleur du texte */
    border: none;
    /* Pas de bordure */
    padding: 10px 20px;
    /* Espacement intérieur */
    border-radius: 5px;
    /* Coins arrondis */
    cursor: pointer;
    /* Curseur pointeur */
    font-size: 16px;
    /* Taille de la police */
    display: block;
    /* Pour centrer */
    /* margin: 0 auto;  */
    text-align: center;
    /* Centre le texte dans le bouton */
    transition: background-color 0.3s ease;
    /* Transition de couleur */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;

}

.create-student-student-button:hover {
    background-color: #3a7bb8;
    color: #ffcc00
        /* Couleur de fond au survol */
}

.generate-password-button {
    background-color: #ffcc00;
    /* Couleur jaune */
    color: #333;
    /* Couleur du texte */
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    margin-left: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.generate-password-button:hover {
    background-color: #FFC107;
    /* Jaune plus foncé au survol */
}

.generate-password-button .icon {
    margin-right: 8px;
    font-size: 18px;
}


.student-input-firstname,
.student-input-lastname,
.student-input-email,
.student-input-phone,
.student-input-education-level {
    width: 50%;
    /* Largeur pleine pour tous les champs */
    padding: 10px;
    /* Espacement intérieur */
    margin: 10px 0;
    /* Espacement vertical entre les champs */
    border: 1px solid #ccc;
    /* Bordure grise */
    border-radius: 5px;
    /* Coins arrondis */
    font-size: 16px;
    /* Taille de la police */
    transition: border-color 0.3s;
    /* Transition de la couleur de la bordure */
    margin-left: 10px;
}

/* Changer la couleur de la bordure au focus */
.student-input-firstname:focus,
.student-input-lastname:focus,
.student-input-email:focus,
.student-input-phone:focus,
.student-input-education-level:focus {
    border-color: #4e7dad;
    /* Bordure bleue au focus */
    outline: none;
    /* Enlever le contour par défaut */
}

/* Styles pour le select */
.student-input-education-level {
    background-color: white;
    /* Fond blanc pour le select */
}

/* Styles pour le select au focus */
.student-input-education-level:focus {
    border-color: #4e7dad;
    /* Bordure bleue au focus */
}

.student-list-title {
    display: flex;
    align-items: center;
}

.student-list-title h3 {
    margin: 0 10px;
    /* Marge à gauche de 30px */
    padding: 0 10px;
    /* Optionnel : pour ajouter de l'espace autour du titre */
    background-color: white;
    /* Couleur de fond pour cacher la ligne derrière */
    z-index: 1;
    /* Met le titre au-dessus de la ligne */
}

.student-list-title::before,
.student-list-title::after {
    content: "";
    /* Contenu vide pour créer les lignes */
    flex-grow: 2;
    /* Permet aux lignes de s'étendre */
    height: 2px;
    /* Épaisseur de la ligne */
    background-color: #ffcc00;
    /* Couleur de la ligne */
}

.student-list-title::before {
    margin-right: 10px;
    /* Espace entre la ligne gauche et le titre */
}

.student-list-title::after {
    margin-left: 10px;
    /* Espace entre le titre et la ligne droite */
}

.csv-download-button {
    background-color: None;
    /* Couleur de fond */
    color: rgb(0, 0, 0);
    /* Couleur du texte */
    border: none;
    /* Pas de bordure */
    border-radius: 5px;
    /* Coins arrondis */
    padding: 10px 15px;
    /* Espacement interne */
    font-size: 16px;
    /* Taille de la police */
    cursor: pointer;
    /* Curseur en forme de main */
    transition: background-color 0.3s ease;
    /* Transition de couleur */
}

.xlsx-download-button {
    background-color: None;
    /* Couleur de fond */
    color: rgb(0, 0, 0);
    /* Couleur du texte */
    border: none;
    /* Pas de bordure */
    border-radius: 5px;
    /* Coins arrondis */
    padding: 10px 15px;
    /* Espacement interne */
    font-size: 16px;
    /* Taille de la police */
    cursor: pointer;
    /* Curseur en forme de main */
    transition: background-color 0.3s ease;
    /* Transition de couleur */
    margin-bottom: 30px;
}

.xlsx-download-button:hover {
    background-color: #ffcc00;
    /* Couleur de fond au survol */
    color: rgb(255, 255, 255);
    /* Couleur du texte au survol */
}

.csv-download-button:hover {
    background-color: #ffcc00;
    /* Couleur de fond au survol */
    color: rgb(255, 255, 255);
    /* Couleur du texte au survol */
}

/* Classes uniques pour chaque bouton */
.csv-download-button {
    margin-right: 10px;
    /* Espace entre les boutons */
}

.xlsx-download-button {
    margin-left: 10px;
    /* Espace entre les boutons */
}

.search-input {
    /* margin: 10px 0; */
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.csv-download-button,
.xlsx-download-button,
.create-student-button,
.cancel-student-button,
.student-submit-button {
    margin: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    /* Aligne verticalement l'icône et l'input */
}

.search-icon {
    margin-right: 10px;
    /* Espace entre l'icône et l'input */
    color: #999;
    /* Couleur de l'icône */
}

.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    /* Bordure de l'input */
    border-radius: 4px;
    /* Arrondi des coins */
    width: 100%;
    /* Prend toute la largeur disponible */
}

.edit-student-button {
    background-color: #4e7dad;
    /* Couleur bleue */
    color: white;
    /* Couleur du texte */
    border: none;
    /* Pas de bordure */
    border-radius: 5px;
    /* Coins arrondis */
    padding: 10px 15px;
    /* Espacement */
    cursor: pointer;
    /* Curseur de la souris */
    font-size: 16px;
    /* Taille de la police */
    display: flex;
    /* Flexbox pour aligner l'icône et le texte */
    align-items: center;
    /* Centre verticalement l'icône et le texte */
    transition: background-color 0.3s;
    /* Transition pour l'effet de survol */
}

.edit-student-button:hover {
    background-color: #3d6a94;
}

.student-button-delete:hover {
    background-color: #e6b800;
}

.action-buttons {
    display: flex;
    gap: 10px;
    /* Espace entre les boutons */
    justify-content: center;
    /* Centre horizontalement */
    align-items: center;
    /* Centre verticalement */
    height: 100%;
    /* Prend toute la hauteur de la cellule */
}

.student-button-delete {
    background-color: #ffcc00;
    /* Couleur bleue */
    color: white;
    /* Couleur du texte */
    border: none;
    /* Pas de bordure */
    border-radius: 5px;
    /* Coins arrondis */
    padding: 10px 15px;
    /* Espacement */
    cursor: pointer;
    /* Curseur de la souris */
    font-size: 16px;
    /* Taille de la police */
    display: flex;
    /* Flexbox pour aligner l'icône et le texte */
    align-items: center;
    /* Centre verticalement l'icône et le texte */
    transition: background-color 0.3s;
    /* Transition pour l'effet de survol */
}

.student-profile-picture {
    margin-left: 100px;
    flex-shrink: 0;
    margin-top: -450px;
}

.pagination-controls-student {
    display: flex;
    justify-content: center;
    /* Centre horizontalement */
    align-items: center;
    /* Centre verticalement */
    gap: 10px;
    /* Espacement entre les éléments */
    margin-top: 20px;
    /* Ajoute un espace au-dessus */
}

.pagination-controls-student button {
    padding: 8px 12px;
    /* Taille du bouton */
    border: none;
    /* Supprime les bordures */
    border-radius: 5px;
    /* Coins arrondis */
    background-color: #f0f0f0;
    /* Couleur de fond par défaut */
    cursor: pointer;
    /* Change le curseur en pointeur */
    font-size: 14px;
    /* Taille de la police */
    transition: background-color 0.3s ease;
    /* Animation douce pour le changement de couleur */
}

.pagination-controls-student button:hover:not(:disabled) {
    background-color: #3879be;
    /* Couleur au survol */
    color: white;
    /* Couleur du texte au survol */
}

.pagination-controls-student button:disabled {
    background-color: #d3d3d3;
    /* Couleur de fond pour les boutons désactivés */
    cursor: not-allowed;
    /* Curseur pour les boutons désactivés */
}

.pagination-controls-student .active-page {
    background-color: #0a5fbb;
    /* Couleur de fond pour la page active */
    color: white;
    /* Couleur du texte pour la page active */
    font-weight: bold;
    /* Texte en gras */
}

.student-description {
    margin-top: 40px;
}

.student-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    margin-left: 120px;
}

.student-details h2 {
    font-size: 1.2rem;
    color: #2c3e50;
    margin-bottom: 10px;
    font-weight: bold;
}

.student-details p strong {
    color: #2c3e50;
    font-weight: bold;
}

.student-name {
    color: #4e7dad;
    font-size: 1.5rem;
    font-weight: bold;
}

.student-edit-icon {
    position: absolute;
    top: 350px;
    left: 570px;
    color: #4e7dad;
}

.student-modify-profile-picture {
    position: absolute;
    top: 390px;
    left: 410px;
    background-color: #5c7fa1;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 0px;
    transition: background-color 0.5s ease;
}

.modify-profile-picture:hover {
    color: #ffcc00;
}

.update-button {
    background-color: #4e7dad;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.update-button:hover {
    background-color: #3c6396;
    color: #ffcc00;
}

.update-button:active {
    background-color: #305079;
}

.update-salary-button {
    margin-left: 10px;
}

.payment-status-button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: default;
    text-align: center;
}

.payment-status-button.paid {
    background-color: green;
}

.payment-status-button.unpaid {
    background-color: red;
}

/* Style du bouton bascule */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-top: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #4CAF50;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media (max-width: 768px) {
    .student-edit-icon {
        position: absolute;
        top: 390px;
        left: 300px;
        color: #4e7dad;
    }
    .student-modify-profile-picture {
        position: absolute;
        top: 430px;
        left: 130px;
        background-color: #5c7fa1;
        color: white;
        border: none;
        padding: 8px 12px;
        cursor: pointer;
        border-radius: 0px;
        transition: background-color 0.5s ease;
    }
}