.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px; /* Ajustement du padding */
    background-color: #ffffff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
    top: 0;
    z-index: 1000;
}

.navbar-logo img {
    height: 80px; /* Réduction de la taille sur mobile */
    object-fit: contain;
    margin-left: 10px;
}

.navbar-text {
    font-size: 18px;
    font-weight: bold;
    color: #4e7dad;
    text-align: center;
    flex: 1;
    margin: 0 20px;
}

.navbar-buttons {
    display: flex;
    gap: 12px;
    margin-right:10px;
}

.navbar-button-login,
.navbar-button-signup {
    padding: 10px 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease;
    font-weight: bold;
}

.navbar-button-login {
    background-color: #4e7dad;
    color: #ffffff;
}

.navbar-button-signup {
    background-color: #3b6ca0;
    color: #ffffff;
}

.navbar-button-login:hover,
.navbar-button-signup:hover {
    background-color: #355a85;
    transform: scale(1.05);
}

/* --- Responsiveness --- */
@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column; /* La navbar passe en colonne */
        align-items: center;
        text-align: center;
    }

    .navbar-logo img {
        height: 55px; /* Taille réduite sur mobile */
        margin-top: 10px;
    }

    .navbar-text {
        font-size: 16px;
        margin: 10px 0; /* Ajoute de l'espacement vertical */
    }

    .navbar-buttons {
        flex-direction: row; /* Garde les boutons côte à côte */
        justify-content: center; /* Centre les boutons horizontalement */
        gap: 8px; /* Réduit l'écart entre les boutons */
        width: auto; /* Pas de largeur spécifique */
    }

    .navbar-button-login,
    .navbar-button-signup {
        width: auto; /* Les boutons ajustent leur taille */
        padding: 8px 12px; /* Réduit le padding pour les petits écrans */
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .navbar-text {
        font-size: 14px; /* Texte encore plus petit sur les petits écrans */
    }

    .navbar-button-login,
    .navbar-button-signup {
        padding: 8px 10px; /* Moins de padding pour s'adapter aux petits écrans */
        font-size: 12px; /* Taille de police plus petite */
        margin-bottom: 15px;
    }
}


