.modif-input{
    margin-left: 20px ;
    margin-top:10px;
}

.modif-input-2{
    margin-left: 20px ;
    margin-top:10px;
}


@media (max-width: 768px) {
    .modif-input{
        margin-left: 0px ;
    }
    .modif-input-2{
        margin-left: -11px ;
    }

}