.secret-key-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Hauteur de la fenêtre */
    background-color: #f5f5f5; /* Optionnel : une couleur de fond */
}

.secret-key-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.secret-key {
    margin-bottom: 20px;
    text-align: center;
}

.secret-key label {
    display: block;
    margin-bottom: 10px;
}

.secret-key input {
    width: 450px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.secret-key-button {
    padding: 10px 20px;
    background-color: #4e7dad;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 200px;
}

.secret-key-button:hover {
    background-color: #36689a;
    color : #ffcc00;
}

.parent-left-text{
    margin-left:-465px;
    margin-top:40px;
}
