.login-button {
    width: 100%; /* Largeur complète pour le bouton */
    padding: 10px; /* Espacement intérieur */
    background-color: #4e7dad; /* Couleur de fond bleue */
    color: white; /* Couleur du texte blanche */
    border: none; /* Pas de bordure */
    border-radius: 4px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointeur */
    font-size: 16px; /* Taille de la police */
}

.login-button:hover {
    background-color: #005599; /* Couleur de fond au survol */
}

.login-container{
    display: flex; /* Flexbox pour centrer */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: auto; /* Ajuste la hauteur automatiquement */
    padding: 20px; /* Ajoute de l'espacement intérieur */
    margin-top: 150px;
}

.login-loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Remplir la hauteur de la fenêtre */
    width: 100%;
    position: absolute;  /* Position absolue pour s'assurer que le loader soit au-dessus de tout autre contenu */
    top: 0;
    left: 0;   
}

@media (max-width:768px){
    .login-loading-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;  /* Remplir la hauteur de la fenêtre */
        width: 100%;
        position: absolute;  /* Position absolue pour s'assurer que le loader soit au-dessus de tout autre contenu */
        top: 0;
        left: 0;  
    }
}
