/* MotDePasseOublie.css */

.motdepasse-oublie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e9f1fa; /* Bleu clair */
    font-family: 'Arial', sans-serif;
}

h2 {
    color: #355a85; /* Bleu principal */
    margin-bottom: 20px;
    font-size: 28px;
}

.motdepasse-oublie-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #355a85;
}

.input-group input {
    padding: 10px;
    border: 1px solid #a7c1dd;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.input-group input:focus {
    border-color: #ffcc00;
    outline: none;
    box-shadow: 0 0 5px rgb(122, 100, 9)0;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #355a85;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #2c4d73;
}

.forgot-password-message {
    margin-top: 15px;
    color: #355a85;
    text-align: center;
}
